In [2]:
from main_data import (
    key_to_camelot,
    open_wheel,
    add_features,
    json_to_df,
    get_playlist,
    get_friendly,
    sp
)

In [40]:
# Investigate lost data after adding audio features.
def check_loss(df, af_df, col=0, view='diff'):
    diff = df[col][~df[col].isin(af_df[col])]
    # urls = []
    # for i in range(len(diff)):
    #     urls.append(sp.track(diff.iloc[i])['external_urls'])
    # if view=='diff':
    #     return df.query('id in @diff')
    # elif view=='urls':
    #     return urls
    return diff

test1_1, test1_2, test2_1, test2_2 = json_to_df('myNoisetest.json', "myNoisetest2.json", 'myNoisetest_new.json', "myNoisetest_new2.json")

check_loss(test2_1, test1_1)

Series([], Name: 0, dtype: object)

In [45]:
test2_2
# test1_2

                                                      0
0                                  Throw Some D's Remix
1                                                Bounce
10             True Story (feat. Jay Rock & Jay Worthy)
100       The Queen's Suite: The Single Petal Of A Rose
1000                                     Don't Judge Me
...                                                 ...
9995                                DELIRIO DE GRANDEZA
9996                            Auntie's Lock/Infinitum
9997  Move - Live At The Royal Rooster, New York, Se...
9998                                        Let's Do It
9999                                            YiPiYaY

[17968 rows x 1 columns]

In [ ]:
(
    all_streams,
    music_streams_no_features,
    music_streams,
    no_skip_df,
    playlist_example,
    podcasts,
    wheel_df,
) = unpickl(
    "all_streams.p",
    "music_streams_no_features.p",
    "music_streams.p",
    "no_skip_df.p",
    "playlist_example.p",
    "podcasts.p",
    "wheel_df.p",
)

In [ ]:
# all_streams
# music_streams_no_features
music_streams
# no_skip_df
# playlist_example
# podcasts
# wheel_df

In [ ]:
# pd.to_timedelta
def list_duplicatetimes(df):
    return df[df.ddate.duplicated() == True].sort_values(by="ddate")

list_duplicatetimes(all_streams)


# def format_td(td):
#     """Converts timedelta to hh:mm:ss strictly for presentation purposes"""
#     minutes, seconds = divmod(td.seconds + td.days * 86400, 60)
#     hours, minutes = divmod(minutes, 60)
#     return "{:d}:{:02d}:{:02d}".format(hours, minutes, seconds, td.microseconds)